@import url("https://fonts.googleapis.com/css?family=Audiowide");

body {
  margin: 0;
  font-family: "Verdana", sans-serif;
  height: 100vh;
  align-items: center;
}

:root {
  --global-secondary-color: orange;
}

/******************************** HEADER *******************************/

.header-wrapper {
  position: relative;
  background: url(../public/bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.typed-text {
  font-size: 2rem;
  color: black;
}

.download-resume {
  margin: 10px;
}

.link-resume {
  text-decoration: none;
  color: inherit;
  padding: 0;
  background: none;
}



/****************************** EXPERIENCE *****************************/


.experience {
    padding-top: 5%;
    padding-bottom: 5%;
}

/****************************** SKILL ********************************/

.skill {
  background-color: white;
  height: 70vh;
  text-align: center;
  display: flex;
  justify-content: center;  
  align-items: center;    
}

.carousel-skill {
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;   
  height: 80%; 
  padding: 20px;
  border-radius: 15px;  
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  transition: box-shadow 0.3s ease, border 0.3s ease;
}
.skill-image {
  width: 100px;
  height: 100px; 
}


/*************************************   CONTACT *************************************/

.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  align-items: center;
  height: 60vh; 
  background-color: #121212; 
  padding: 20px;
  box-sizing: border-box;
  color: white;
}

.form-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.contact-form {
  padding: 30px;
  border: 1px solid #444;
  border-radius: 8px;
  background: #1e1e1e;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 500px;
}

textarea {
  resize: none;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px 0;
}

.icon {
  color: #ffffff;
  transition: transform 0.3s, color 0.3s;
}

.icon:hover {
  color: orange;
  transform: scale(1.2);
}