@import url("https://fonts.googleapis.com/css?family=Audiowide");

body {
  margin: 0;
  font-family: "Verdana", sans-serif;
  height: 100vh;
  align-items: center;
}

:root {
  --global-secondary-color: orange;
}

/******************************** HEADER *******************************/

.header-wrapper {
  position: relative;
  background: url(../public/bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.typed-text {
  font-size: 2rem;
  color: black;
}

.download-resume {
  margin: 10px;
}

.link-resume {
  text-decoration: none;
  color: inherit;
  padding: 0;
  background: none;
}



/****************************** EXPERIENCE *****************************/


.experience {
    padding-top: 5%;
    padding-bottom: 5%;
}